# Macro for all binary files that should use Git LFS.
[attr]lfs -text filter=lfs diff=lfs merge=lfs

# Models
*.pth lfs
# Binaries
*.bin lfs
*.pkl lfs
*.pckl lfs
# 3D
*.ply lfs
*.vis lfs
*.db lfs
*.ply lfs
